# === Configuración de Eclipse / IDE ===
.metadata/
.project
.classpath
.settings/
.sonarlint/
.idea/
.vscode/

# === Archivos compilados o generados ===
bin/
**/bin/
target/
**/target/
out/
build/

# === Archivos Java compilados ===
*.class
*.jar
*.war
*.ear

# === Archivos temporales del sistema ===
.DS_Store
Thumbs.db

# === Logs y temporales ===
*.log
*.tmp

# === Configuración de cobertura o análisis ===
*.iml
/.scannerwork/
