spring:
  application:
    name: UcoChallenge
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://${DATABASE_HOST:localhost}:${DATABASE_PORT:5432}/${DATABASE_NAME:ucochallenge}}
    driver-class-name: ${SPRING_DATASOURCE_DRIVER:org.postgresql.Driver}
    hikari:
      pool-name: ${SPRING_DATASOURCE_POOL_NAME:UcoHikariPool}
      maximum-pool-size: ${SPRING_DATASOURCE_MAX_POOL_SIZE:10}
      minimum-idle: ${SPRING_DATASOURCE_MIN_IDLE:1}
      connection-timeout: ${SPRING_DATASOURCE_CONNECTION_TIMEOUT:30000}

server:
  port: 8083

services:
  message:
    base-url: http://localhost:8082/api/v1/messages
  parameters:
    base-url: http://localhost:8083/api/v1/parameters

azure:
  keyvault:
    url: ${AZURE_KEY_VAULT_URL:}

secrets:
  db-username: ${DB_USERNAME:postgres}
  db-password: ${DB_PASSWORD:postgres}

logging:
  level:
    root: INFO
    com.azure.identity: INFO
    co.edu.uco.ucochallenge.infrastructure.secondary.secret: DEBUG
